<div class="list-view form-control">
    <div class="list-view-container" ng-class="{'focus': hasFocus}" ng-keydown="keydown($event);">
        <div ng-if="multiselect" class="list-item">
            <div class="list-item-check">
                <input id="{{lvUniqueIdChk}}" name="{{lvUniqueIdChk}}" ng-model="selectAll.checked" ng-click="selectAllClicked();" ng-change="selectAllChecked();" type="checkbox" />
            </div>
            (Select All)
        </div>
        <div ng-repeat="item in data track by $index" class="list-item" ng-click="select(item, $event, $index)" ng-class="{'selected': item.$$selected}">
            <div class="list-item-check" ng-if="multiselect"><input ng-model="item.$$checked" ng-change="itemChecked(item,$index,$event);" type="checkbox" /></div>
            <div>{{getItemDisplay(item)}}</div>
        </div>
    </div>
</div>